<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- All of your styles (except standalones) will be included here -->
		<link href="/media/css/framelit.min.css" media="screen" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>CSS Loading Spinners</h1>
					<p>The top Code Pen from 2014 as <a href="//codepen.io/aurer/pen/jEGbA">8 animaged SVG loading spinners</a>. Unfortunately, they don't work on IE -- even 10+. So here are the same spinners, rewritten in pure HTML and CSS. They're efficient (using transforms for speed where possible) and work in IE.</p>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<div class="icon-spinner">
						<div class="icon-spinner-version1"></div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="icon-spinner">
						<div class="icon-spinner-version2"></div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="icon-spinner">
						<div class="icon-spinner-version3"></div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="icon-spinner">
						<div class="icon-spinner-version4">
							<div class="icon-spinner-shim"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<div class="icon-spinner">
						<div class="icon-spinner-version5">
							<div class="icon-spinner-shim"></div>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="icon-spinner">
						<div class="icon-spinner-version6">
							<div class="icon-spinner-shim"></div>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="icon-spinner">
						<div class="icon-spinner-version7">
							<div class="icon-spinner-shim"></div>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="icon-spinner">
						<div class="icon-spinner-version8">
							<div class="icon-spinner-shim"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<hr>
					<p>Hey! My name is Jacques Favreau, and I wrote <a href="https://github.com/betaorbust/css-spinners">this spinner demo</a>.</p>
					<p>You can get in touch with me via <a href="https://twitter.com/betaorbust">@betaorbust</a>, or see the other things I'm up to on <a href="https://github.com/betaorbust">Github</a> and <a href="http://betaorbust.com">betaorbust.com</a>.</p>
				</div>
			</div>
		</div>
	</body>
</html>